<form
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
  class="w-100 p-4 border rounded shadow-sm bg-white"
>
  <h2 class="mb-4 text-center">Login</h2>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      id="email"
      class="form-control"
      required
      email
      formControlName="email"
      #emailRef
      placeholder="Enter email"
    />
    <div *ngIf="email?.invalid && email?.touched" class="text-danger small">
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
      required
      minlength="6"
      #passwordRef
      placeholder="Password"
    />
    <div
      *ngIf="password?.invalid && password?.touched"
      class="text-danger small"
    >
      <div *ngIf="password?.errors?.['required']">Password is required.</div>
      <div *ngIf="password?.errors?.['minlength']">
        Minimum length is 6 characters.
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
