<!-- We need to bind our courseForm instance to the template form using the formGroup directive -->
<form
  [formGroup]="getStepGroup(1)"
  *ngIf="step === 1"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="name" class="form-label">Course name: </label>
    <!-- We need to bind our input to a form control using the formControlName directive  -->
    <input
      type="text"
      class="form-control"
      id="name"
      aria-describedby="nameHelp"
      formControlName="name"
    />
    <div
      *ngIf="name?.errors && name?.invalid && name?.touched"
      class="text-danger"
    >
      <div *ngIf="name?.errors?.['required']">Name is required.</div>
      <div *ngIf="name?.errors?.['minlength']">
        Please type a minimum of 2 characters
      </div>
    </div>
    <button type="button" (click)="next()">Next</button>
  </div>
  <!-- cover -->
  <div class="mb-3">
    <label for="cover" class="form-label">Course Cover: </label>
    <input
      #fileInput
      type="file"
      class="form-control"
      id="cover"
      (change)="onFileChange($event)"
      formControlName="cover"
      accept="image/jpeg, image/png, image/jpg, image/gif, image/webp, image/svg+xml"
      multiple
    />
    <!-- file list -->
    <ul>
      @for (file of files; track file.name) {
      <li>
        <img
          [src]="apiUrl + file.path"
          alt="{{ file.name }}"
        />
        {{ file.name }} {{ file.size }} bytes
        <button (click)="remove(file)">Remove</button>
      </li>
      } @empty {
      <li>No files selected.</li>
      }
    </ul>
    <div
      *ngIf="cover?.errors && cover?.invalid && cover?.touched"
      class="text-danger"
    >
      <div *ngIf="cover?.errors?.['required']">Cover is required.</div>
    </div>
  </div>
</form>

<form [formGroup]="getStepGroup(2)" *ngIf="step === 2">
  <div class="mb-3">
    <label for="level" class="form-label">Level</label>
    <!-- select for levels -->
    <select
      *ngIf="levels?.length"
      class="form-select"
      id="level"
      formControlName="level"
    >
      <option disabled>Select an level</option>
      <option *ngFor="let level of levels" [value]="level">
        {{ level }}
      </option>
    </select>
    <div
      *ngIf="level?.errors && level?.invalid && level?.touched"
      class="text-danger"
    >
      <div *ngIf="level?.errors?.['required']">Level is required.</div>
      <div *ngIf="level?.errors?.['min']">Please select a number above 100</div>
    </div>
  </div>
  <button type="button" (click)="prev()">Back</button>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="courseForm.invalid"
    (click)="onSubmit()"
  >
    {{ courseForm.value.id ? "Update" : "Submit" }}
  </button>
</form>

<pre> {{ courseForm.value | json }}</pre>
